<div class="ROCOGlossary">
	<% if (locals.ROCOGlossaryHeadingEnabled) { -%>
		<h2 class="ROCOGlossaryHeading"><%= OLSKLocalized('ROCOGlossaryHeadingText') %></h2>
	<% } -%>

	<dt><a class="ROCOGlossaryDoorlessLink" href="https://rosano.hmm.garden/01evv3hq1ak4b6ng1jzppx5n2j" target="_blank"><%= OLSKLocalized('ROCOGlossaryDoorlessLinkText') %></a></dt>
	<dd class="ROCOGlossaryDoorlessBlurb"><%= OLSKLocalized('ROCOGlossaryDoorlessBlurbText') %></dd>

	<dt><a class="ROCOGlossaryZeroDataLink" href="https://rosano.hmm.garden/01etqm6qmcva4hja4y037ecaj6" target="_blank"><%= OLSKLocalized('ROCOGlossaryZeroDataLinkText') %></a></dt>
	<dd class="ROCOGlossaryZeroDataBlurb"><%= OLSKLocalized('ROCOGlossaryZeroDataBlurbText') %></dd>

	<dt><a class="ROCOGlossaryGoingWebLink" href="https://rosano.hmm.garden/01fmeehzvr3n9q0rkrnf7y2d5c" target="_blank"><%= OLSKLocalized('ROCOGlossaryGoingWebLinkText') %></a></dt>
	<dd class="ROCOGlossaryGoingWebBlurb"><%= OLSKLocalized('ROCOGlossaryGoingWebBlurbText') %></dd>

	<hr />

	<dt><a class="ROCOGlossaryAppsLink" href="https://rosano.ca/apps" target="_blank"><%= OLSKLocalized('ROCOGlossaryAppsLinkText') %></a></dt>
	<dd class="ROCOGlossaryAppsBlurb"><%= OLSKLocalized('ROCOGlossaryAppsBlurbText') %></dd>
</div>

<style>
.ROCOGlossary hr ~ * {
	text-align: center;
	margin: 0;
}
</style>
